pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.lsp/
.calva/
.vscode/
/target
/classes
/checkouts
/.prepl-port
.hgignore
.hg/
.calva
.lsp/
resources/public/js/
.DS_Store
package-lock.json
.env
output-window/output.calva-repl
.shadow-cljs/
node_modules/