{:lein true
 :nrepl {:port 7979}

 :build-defaults
 {:output-dir "resources/public/js"
  :asset-path "/js"
  :modules {:main {:entries [patients.core]}}
  :devtools {:use-document-protocol true}
  :compiler-options {:infer-externs false
                     :closure-defines {re-frame.trace.trace-enabled? true}}}

 :builds
 {:app
  {:target :browser}

  :re-frisk-embedded
  {:target :browser
   :devtools {:preloads [re-frisk.preload]}}}}