/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.calva
.clj-kondo/
.lsp/
.shadow-cljs/
node_modules/
resources/public/js/
.DS_Store
package-lock.json
.env
.calva/